
*, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #AFC7D7;
    --primary-color: #106974;
    --second-color: #F8F7F0;
    --radius: 32px;

}

html {
    font-display: optional;
    font-size: 62.5%;
    background-color: var(--background-color);
    font-family:"Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

main{
    height: 100vh;
    padding: 2rem 5%;
}

.dashboard{
    height: 100%;
    display: grid;
    grid-template-rows: minmax(auto, 28rem) 1fr min-content;
    grid-template-columns: minmax(min-content,35rem) 1fr;
    gap: 3.5rem;
    grid-template-areas: 
    "calendar week-tasks"
    "today-task notes"
    "today-task progress";
}


@media screen and (max-width: 750px){
    .dashboard{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 2rem;
    }

    .dashboard .week-tasks, .today-task, .notes{
        min-height: 250px;
        max-width: 350px;;
        width: 100%;
    }

    .dashboard .progress{
        display: none;
    }
}


@media screen and (min-width: 850px){
    .dashboard{
        grid-template-rows: minmax(auto, 28rem) minmax(auto, 30rem) auto;
        grid-template-columns: minmax(auto,35rem) 2fr 1fr;
        grid-template-areas: 
            "calendar week-tasks week-tasks"
            "today-task notes progress"
            "today-task footer footer";
    }
}



/* Topography */

p{
    font-weight: 400;
}


h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
}


@media screen and (min-width: 1100px){
    h2{
        font-size: 3rem;
    }
}

/* Common */

.calendar, .week-tasks, .today-task, .notes{
    padding: 2.3rem;
    border-radius: var(--radius);
    background-color: var(--second-color);
}
/* Calendar */

.calendar{
    grid-area: calendar;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1.5rem;
    color: #FFFFFF;
    background-color: var(--primary-color);
    max-width: 35rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    box-shadow: 0 4px 4px 0px #00000040 inset;
}

.cal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;

    .cal-month{
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    .next, .prev{
        outline: 0;
        border: 0;
        width: 1.8rem;
        height: 1.8rem;
        background-color: inherit;
        color: #FFFFFF;
        cursor: pointer;
    }

}
.cal-weeks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    padding: 0.3rem 0;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
    }
}

.cal-days{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;

    .day{
        min-width: 26.7px;
        min-height: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        border-radius: 13px;
        font-weight: 400;
        transition:  background-color 0.15s;
        border: 1px solid #ffffff00;
    }

    .day.event:not(.active)::after{
        content: "";
        position: absolute;
        bottom: -5px;
        width: 3px;
        aspect-ratio: 1/1;
        background-color: #FFFFFF;
        border-radius: 50%;
    }
        
    .active{
        border: 1px solid #ffffffa5;
    }

    .today{
        box-shadow: 0 0 10px 0 #ffffff24;
        font-weight: 600;
    }
    
    .prevDay, .nextDay{
        opacity: 0;
        cursor:default
    }

    .day:not(.active):hover{
        background-color: rgba(249, 211, 210, 0.4);
    }
}

@media screen and (min-width: 800px){
    .calendar{
        padding-bottom: 1.7rem;
        gap:1rem;
    }
    .cal-month{
        font-size: 3.2rem;
    }

    .cal-weeks{
        font-size: 2rem;
    }

    .cal-days .day{
        font-size: 1.7rem;
    }

    .today{
        font-weight: 700;
    }
}


/* Week-Task */

.week-tasks{
    display: flex;
    flex-direction: column;
    position: relative;
    grid-area: week-tasks;
    width: 100%;
    max-width: 81rem;
    box-shadow: 6px 9px 10.8px 0px #00000040;
    color: var(--primary-color);

    .week-cat{
        position: absolute;
        right: 18px;
        bottom: 1px;
        width: 15rem;
        height: 15rem;
        display: none;
    }


}


@media screen and (min-width: 850px){
    .week-tasks {
        .week-cat {
            display: block;
        }

        .week-tasks-container .todo-task{
            width: 60%;
        }
    }
}

@media screen and (min-width: 1100px){
    .week-tasks {
        .week-cat {
            width: 20rem;
            height: 20rem;
            display: block;
        }
        .week-tasks-container .todo-task{
            width: 73%;
        }
    }
}


@media screen and (min-width: 1320px){
    main{
        display: flex;
        justify-content: center;
    }

    .dashboard{
        width: 100%;
        max-width: 1200px;
    }
}

/* Today Tasks */

.today-task{
    grid-area: today-task;
    box-shadow: 7px 7px 10.3px 0px #00000040;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
}



/* Notes */

.notes{
    grid-area: notes;
    box-shadow: 7px 7px 10.3px 0px #00000040;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.note-lines {
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  line-height: 23px;
  font-size: 16px;
  color: inherit;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 22px,
    var(--primary-color) 24px
  );
}


/* Progress */

.progress{
    grid-area: progress;
    justify-self: center;
    align-self: center;
    position: relative;
    width: min(20vw, 160px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.progress-ring{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--second-color);
    background: conic-gradient(#2a7886 0% 0% , #ffffff 0% 100%);
}

.progress-inner{
    position: absolute;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .progress-text{
        font-size: clamp(1rem, calc(5px + 1vw), 1.5rem);
        font-weight: 600;
    }

    .progress-value{
        font-size:  clamp(1rem, calc(20px + 2.5vw), 4rem);
        font-weight: 400;
        line-height: 100%;

    }
}


/* Footer */

.footer{
    grid-area: footer;
    display: none;
    justify-content: end;
    align-items: end;

    p{
        color: #0B4F58;
        font-weight: 600;
        text-align: end;
        font-size:clamp(1rem, calc(1px + 4vw), 3.5rem);
    }
}


@media screen and (min-width: 850px){
    .footer{
        display: flex;
    }

}


/* TODO */

.todo-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 0.7rem;
}


.scroll{
    scrollbar-width: thin;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

.todo{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    word-break: break-all;
}

.todo-task{
        font-size: 2rem;
        font-weight: 500;
        text-transform: lowercase;
        cursor: text;
}

.todo-input{
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    font-weight: 500;
    color: var(--primary-color);

    &::placeholder{
        font-size: 2rem;
        font-weight: 500;
        color: var(--primary-color);
    }
}

.todo-circle{
        width: 20px;
        height: 19px;
        flex-shrink: 0;
        
        .todo-complited{
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 2px solid var(--primary-color);
            appearance: none;

            &:checked{
                background-color: #2a7886;
            }
        }
    }
/* Add toDo */

.add-todo{
    width: 100%;
    cursor: pointer;

    .add-task{
        cursor: pointer;
    }
}

[data-day-add-todo].hide, [data-week-add-todo].hide{
    display: none;
}

.add-circle{
    border-radius: 50%;
    border: 2px dashed var(--primary-color);

}
