<template data-todo-template>
            <div class = "todo">
                <input type="checkbox" class = "todo-checkbox" data-todo-checkbox>
                <div>
                    <p class = "todo-text" data-todo-text></p>
                    <p class = "todo-description" data-todo-description></p>
                </div>
                <button class = "remove-todo-btn" data-remove-todo-btn>
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>
        </template>